/* 413px */

@media (max-width: 413px) {
    * {
        /* outline: 1px solid red; */
    }
    body {
        max-width: 413px;
        background-color: white;
    }

    .first-container {
        height: 800px;
        width: 412px;
    }
    .wrapper {
        width: calc(100% - 15px);
    }
    .header {
        display: flex;
        justify-content: space-between;
    }

    .header__title {
        padding-top: 15px;
    }

    .header__word {
        margin-left: 10px;
        width: 60px;
    }

    .header__btn {
        margin-left: 10px;
    }

    /* main */
    .words {
        width: 100%;
    }

    .main__title {
        margin-top: 130px;
    }
    .main__title h3 {
        font-weight: 600;
        font-size: 40px;
    }

    .main__hdr-title {
        font-size: 25.4px;
        font-weight: 600;
    }

    .second__buttons {
        display: flex;
        gap: 15px;
    }

    .trible__buttons {
        font-size: 12px;
        font-weight: 500;
    }
    /* tugadi */

    /* thrid row */

    .thrid__container {
        padding-bottom: 60px;
    }
    .thrid__sentence h1 {
        font-size: 40px;
        font-weight: 700;
    }
    .thrid__sentence h1 span {
        width: 100%;
        font-size: 2.2rem;
        font-weight: 700;
    }

    /* tugadi */

    /* fourth row */

    .h4__size {
        font-size: 18px;
        font-weight: 500;
    }

    .fourth__cards {
        margin-left: 0px;

        gap: 25px;
    }

    .card {
        max-width: 100%;
        border-radius: 5px;
    }

    /* tugadi */

    /* fifth row */

    .fifth__title h1 {
        font-size: 50px;
        font-weight: 600;
    }
    .fifth__title h1 span {
        font-weight: 600;
    }

    /* tugadi */

    /* sixth row */

    .sixth__cards {
        flex-direction: column;
        gap: 0px;
        padding-left: 0px;
    }
    .card2 {
        margin-top: 50px;
        width: 100%;
    }

    .card2 h4 {
        font-size: 22px;
        font-weight: 600;
    }

    /* tugadi */

    /* seventh--row */

    .seventh__text {
        max-width: 100%;
    }
    .seven__title {
        max-width: 100%;
        font-size: 45px;
        font-weight: 600;
    }

    .seventh__flex h4 {
        color: #0de6be;
        font-size: 1rem;
    }
    /* tugadi */

    /* ninth */

    .ninth__header h1 {
        margin-top: 25px;
        font-size: 24px;
    }
    .ninth__header button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
        font-size: 14px;
        transition: 0.2s;
        font-size: 14px;
        width: 180px;
        height: 60px;
        margin-top: 15px;
    }

    .ninth__cards {
        max-width: 100%;
    }

    /* tugadi */

    /* 10 */

    .tenth__column {
        margin-bottom: 20px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    /* tugadi */

    /* 11 */

    .eleventh__container h1 {
        font-size: 30px;
        font-weight: 600;
        line-height: 60px;
    }

    .eleventh__container h6 {
        width: 100%;
    }
    .eleventh__container button {
        margin-bottom: 80px;
    }
    .eleventh__container h2 {
        font-size: 26px;
    }

    /* footer */

    .footer__buttons {
        gap: 10px;
        margin-top: 5px;
    }
    .footer__title h6 {
        display: none;
    }

    /* footer main */

    .footer__main div {
        gap: 10px;
        max-width: 50%;
        padding: 20px 20px 20px 10px;
    }
    .footer__main div:nth-child(2) {
        gap: 20px;
    }
    .footer__main div h6 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        padding-bottom: 10px;
    }

    .footer__main div h3 {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
    }

    /* footer foot */

    .footer__end-sentence {
        display: flex;
        gap: 10px;
    }
    .footer__end-sentence h5:nth-child(4) {
        display: none;
    }
    .footer__end-sentence h5:nth-child(5) {
        display: none;
    }

    .footer__end-sentence h5:nth-child(6) {
        display: none;
    }

    .footer__end h6 {
        margin-top: 5px;
        font-size: 17px;
        font-weight: 400;
    }
    .footer__icon {
        background-image: url(img/footer__icon.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
    }
}
